<!DOCTYPE html>
<html class=" " lang="en">
<head id="headcontent">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="utf-8">

	<title>CMS</title>
    {% load staticfiles%}
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="/app/home/">Home</a></li>
  <li role="presentation" ><a href="/app/schemes/">Schemes</a></li>
  <li role="presentation" class="active"><a href="/app/contact/">Contact</a></li>
</ul>
<header>
<h1>CONTACT US</h1>
</header>
<p><h3> For any queries please contact +91-1234567890 or mail us at: </h3>
<a href="contactabc@gmail.com"><h3>contactabc@gmail.com </h3> </a>
</p>
</body>
</html>