<!DOCTYPE HTML>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<html>
<title>REGISTRATION</title>
<head>
</head>
<body>
<div class="container">
<div align="center">
<h2>REGISTRATON FORM</h2>
</div>
<form id="myform">
<br/>
<br/>
<div class="form-group">
<label for="Aadharno">Aadhar Number:</label>
<input type="Aadharno" class="form-control" id="Aadharno" pattern="[0-9]{12}" placeholder="Enter your 12-digit Aadhar number" required/>
</div>
<div class="form-group">
<label for="pwd">Password:</label>
<input type="password" class="form-control" id="pwd" placeholder="Enter password" required/>
</div>
<button type="submit" class="btn btn-default">Login</button>
</form>
</body>
</html>