<!DOCTYPE html>
<html class=" " lang="en">
<head id="headcontent">
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta charset="utf-8">
	<title>CMS</title>
</head>
<body>
<header>
<h2>Web Master</h2>
<h4>Contact: Siddharthan, Muthamil, Harsha Vardhan</h4>
</header>
{% for c in content %}
    <p>{{c}}</p>
{% endfor %}
<h4>Resources:</h4>
First round will contain questions related to
<nav>
<ul>
<li><a href="/abc/">HTML</a>
<li><a href="/abc/">CSS</a>
<li><a href="/abc/">cms</a>
<li><a href="/abc/">Bootstrap </a>
</ul>
Second round:
<ul>
<li>Design websites using <a href="http://www.w3schools.com/php/">PHP</a> or <a href="? https://play.google.com/store/apps/details?id=com.sololearn.python
">Python</a>
<li>Designing using Python and <a href="http://www.youtube.com/playlist?list=PLQVvvaa0QuDeA05ZouE4OzDYLHY-XH-Nd
">Django Framework</a> is highly encouraged
</ul>
</nav>
</body>
</html>